@{
    ViewData["Title"]="Home";
}


 <div class="container">
        <div class="container ">
        <div class="row">
            <div class="col" style="height: 400px;">
                <div class="h-75" style="width: 100%;">
                
                    <img class="position-relative mh-100 mw-100 h-100 w-100 rounded border-right border-bottom overflow-hidden" src="https://images.pexels.com/photos/5048573/pexels-photo-5048573.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">

                    <div class="card-img-overlay text-light text-center overflow-hidden">

                      <h1>Recode Trip, o melhor jeito de viajar é aqui. Vem de Trip!</h1>
                      <div class="col-md-12 mt-5 overflow-hidden d-sm-none d-md-block d-none" style="height: 100%; ">
                        <div class="card text-center text-dark">
                            <div class="card-body">
                              <h3 class="card-title ">Inscreva seu email nossa <b>Newslist</b> e receba ofertas semanais de viagens <b>Perfeitas!!</b></h3>
                              <h5 class="card-text text-black">Aproveite para ver as viagens mais adoradas desse mês <code><3</code> </h5>
                            </div>
                          </div>
                    </div>

                    </div>

                </div>
            </div>
        </div>
        </div>        
    
        <div class="container ">
            <div class="row">
                
               
                    <div class="col-sm-4 rounded text-white">
                    <div class="card">
                    <img class="card-img-top" src="https://media.gettyimages.com/photos/saint-francis-of-assisi-pampulha-picture-id149513010?s=2048x2048" alt="Card image cap">
                    <div class="card-body bg-dark">
                        <h5 class="card-title"> Recife ➙ Belo Horizonte </h5><h4>Por apenas R$ 869,99</h4>
                        <p class="card-text">Confira todas as viagens disponíveis nesse momento na aba destino.</p>
                        <a class="btn btn-info text-white" asp-area="" asp-controller="Destino" asp-action="index">Saiba Mais</a>
                    </div>
                    </div>
                    </div>

       <div class="col-sm-4 rounded-20 text-white">
                    <div class="card">
                    <img class="card-img-top" src="https://images.pexels.com/photos/2065850/pexels-photo-2065850.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                    <div class="card-body bg-dark">
                        <h5 class="card-title">Recife ➙ São Paulo</h5><h4>Apenas R$ 1689,89</h4>
                        <p class="card-text">Confira todas as viagens disponíveis nesse momento na aba destino.</p>
                        <a class="btn btn-info text-white" asp-area="" asp-controller="Destino" asp-action="index">Saiba Mais</a>  </div>
                    </div>
                    </div>

                           <div class="col-sm-4 rounded-20 text-white">
                    <div class="card">
                    <img class="card-img-top" src="https://lh3.googleusercontent.com/proxy/S6FUkklX-sdBFDqDG26yMDe06TCEWgsU7Co2p1v_bKuxQJKsH2FxtYuBV6l5ivdo2rwbe5-3phXU0Yvc51ev_vTaIPeSQwrdp1Gbtk_5SkgkK8XwGx2xby4-KQcSvvmbvlRvJ3MKfoCl3Do-4m_RbV4Sb7nAI9A" alt="Card image cap">
                    <div class="card-body bg-dark">
                        <h5 class="card-title">São Paulo ➙ Garanhuns</h5><h4>Por apenas R$ 2975,65</h4>
                        <p class="card-text">Confira todas as viagens disponíveis nesse momento na aba destino.</p>
                        <a class="btn btn-info text-white" asp-area="" asp-controller="Destino" asp-action="index">Saiba Mais</a>    </div>
                    </div>
                    </div>
                    

                    


                

                </div>
        </div>
        
        <div class="container mt-5 ">
        <div class="row">
            <div class="col">
            <div class="card text-center mw-100 w-100 bg-dark text-white">
                <div class="card-body">
                  <h3 class="card-title">Reserve AGORA a sua viagem dos sonhos!</h3>
                  <h5 class="card-text"> E melhor ainda com as Super PROMOÇÕES desse mês...</h5>
                  <h4><a class="btn btn-warning" asp-area="" asp-controller="Promo" asp-action="index">Confira Já!</a></h4>
                </div>
                </div>
              </div>
            </div>
        </div>

    </div>