@model RecodeTrip.Models.Viagem
@{
    ViewData["Title"]="Promo";
}

<div class="container ">
            <div class="row">
                
               
                    <div class="col-sm-4 rounded text-white">
                    <div class="card">
                    <img class="card-img-top" src="https://images.pexels.com/photos/1850619/pexels-photo-1850619.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                    <div class="card-body bg-dark">
                        <h5 class="card-title">1 Semana em Paris</h5><h4 class="text-warning">Por apenas R$48.765,00</h4>
                        <p class="card-text">Toda classe e elegância de Paris a um click de distância.</p>
                    </div>
                    </div>
                    </div>

       <div class="col-sm-4 rounded-20 text-white">
                    <div class="card">
                    <img class="card-img-top" src="https://images.pexels.com/photos/2678456/pexels-photo-2678456.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                    <div class="card-body bg-dark">
                        <h5 class="card-title">3 dias em Roma</h5><h4 class="text-warning">Apenas R$27.487,89</h4>
                        <p class="card-text">A exuberância de Roma e seu valor histórico em uma só viagem.</p>
                    </div>
                    </div>
                    </div>

                           <div class="col-sm-4 rounded-20 text-white">
                    <div class="card">
                    <img class="card-img-top" src="https://images.pexels.com/photos/190339/pexels-photo-190339.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                    <div class="card-body bg-dark">
                        <h5 class="card-title">4 dias em Israel</h5><h4 class="text-warning">Apenas R$ 20.982,80</h4>
                        <p class="card-text">Formosa e estruturada, tenha uma semana de paz e alegria em Israel.</p>
                        
                    </div>
                    </div>
                    </div>
    
                </div>

                <div class="row">
            <div class="col-sm-12 text-center text-white mt-5 ">
                 <div class="card bg-dark">
                    <div class="card-body">
                        <h5 class="card-title"> Quer receber essas ofertas em primeira mão?</h5>
                        <p class="card-text"><h3>Inscreva-se e receba no email com prioridade da equipe Recode Trip.</h3></p>
                        <a class="btn btn-warning" asp-area="" asp-controller="Cadastro" asp-action="Create">CADASTRAR EMAIL AGORA</a>
                    </div>
                </div>
            </div>
        </div>
        
        </div>

        