USE [master]
GO
/****** Object:  Database [RecodeViagens]    Script Date: 23/12/2021 16:31:59 ******/
CREATE DATABASE [RecodeViagens]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RecodeViagens', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVERDEV2021\MSSQL\DATA\RecodeViagens.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RecodeViagens_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVERDEV2021\MSSQL\DATA\RecodeViagens_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RecodeViagens].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RecodeViagens]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 23/12/2021 16:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 23/12/2021 16:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[Nome_completo] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[CPF] [nvarchar](max) NOT NULL,
	[Celular] [int] NOT NULL,
	[ViagemId_viagem] [int] NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companhias]    Script Date: 23/12/2021 16:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companhias](
	[Id_companhia] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
	[Nota_avaliacao] [int] NOT NULL,
 CONSTRAINT [PK_Companhias] PRIMARY KEY CLUSTERED 
(
	[Id_companhia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Viagens]    Script Date: 23/12/2021 16:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Viagens](
	[Id_viagem] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
	[Origem] [nvarchar](max) NOT NULL,
	[Destino] [nvarchar](max) NOT NULL,
	[Preco] [decimal](18, 2) NOT NULL,
	[Data_ida] [nvarchar](max) NOT NULL,
	[CompanhiaId_companhia] [int] NOT NULL,
 CONSTRAINT [PK_Viagens] PRIMARY KEY CLUSTERED 
(
	[Id_viagem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Clientes_ViagemId_viagem]    Script Date: 23/12/2021 16:32:02 ******/
CREATE NONCLUSTERED INDEX [IX_Clientes_ViagemId_viagem] ON [dbo].[Clientes]
(
	[ViagemId_viagem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Viagens_CompanhiaId_companhia]    Script Date: 23/12/2021 16:32:02 ******/
CREATE NONCLUSTERED INDEX [IX_Viagens_CompanhiaId_companhia] ON [dbo].[Viagens]
(
	[CompanhiaId_companhia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Viagens_ViagemId_viagem] FOREIGN KEY([ViagemId_viagem])
REFERENCES [dbo].[Viagens] ([Id_viagem])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Viagens_ViagemId_viagem]
GO
ALTER TABLE [dbo].[Viagens]  WITH CHECK ADD  CONSTRAINT [FK_Viagens_Companhias_CompanhiaId_companhia] FOREIGN KEY([CompanhiaId_companhia])
REFERENCES [dbo].[Companhias] ([Id_companhia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Viagens] CHECK CONSTRAINT [FK_Viagens_Companhias_CompanhiaId_companhia]
GO
USE [master]
GO
