@{
    ViewData["Title"]="Index";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card bg-dark text-light">
                <div class="card-body">
                    <h2 class="card-title text-success">Cadastro Concluido!</h2>
                    <p class="card-text">A equipe Recode Trip enviará um email o mais rápido possível com as melhores ofertas para o seu perfil. Fique atento e VEM DE TRIP!</p>
                    <a class="btn btn-primary text-white" asp-area="" asp-controller="Home" asp-action="index"><h2>Voltar a Página Inicial</h2></a>
                </div>
            </div>
        </div>
    </div>
</div>